<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Rounder Entry</title>
  </head>
  <body>
    <h2>So, it seems you want best All Rounder</h2>
    <form action="/result" method="POST">
      <div>How much strike rate should be:<input type="number" name="key1" /></div>
      <br />
      <div>
        How much balling average should be:<input type="number" name="key2" />
      </div>
      <br />
      <div>
        How much batting average should be:<input type="number" name="key3" />
      </div>
      <br />
      <div>
        <input type="submit" value="Submit" />
        <input type="reset" value="Reset Now" />
      </div>
    </form>
  </body>
</html>
